{% extends 'base.html.twig' %}
{% block body %}

{% for message in app.flashes('success') %}
<div class="container-md pt-2 text-left">
      <div class="alert alert-success">
          {{ message }}
      </div>
</div>
  {% endfor %}

  <div class="container-md text-left vh-100" style="padding-top:50px">  
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
        Post new message</h5>
        {{ form_start(form)}}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary btn-block mt-3">Submit</button>
      {{ form_end(form) }}
      </div>
    </div>
  </div>
{% endblock %}